.tableWrapper {
  max-height: 500px;
  overflow: auto;
}

.active {
  border-width: 2px 0px !important;
}

.input {
  background: #f6feff;
}

.result {
  background: #fffff6;
}

.datasetRow:hover {
  background-color: #fafafa;
}

.detailsRow {
  background-color: #fafafa;
}

.detailsRow pre {
  max-height: 200px !important;
  overflow-y: auto;
}