.tableWrapper {
  max-height: 500px;
  overflow: auto;
}

.active {
  border-width: 2px 0px !important;
}

.input {
  background: #edfcff;
}

.result {
  background: #ffffee;
}

.datasetRow:hover {
  background-color: #ececec;
}

.detailsRow {
  background-color: #fafafa;
}

.detailsRow pre {
  max-height: 200px !important;
  overflow-y: auto;
}