.icon-offset {
  vertical-align: -.1em;
}

.pointer {
  cursor: pointer;
}

.vega-tooltip {
  position: fixed;
  z-index: 1000;
  pointer-events: none;  
  width: 300px;
}

.vega-tooltip .card {
  background: rgba(255, 255, 255, 0.95);
}

.no-wrap {
  white-space: nowrap;
}